@mixin text ($f-size,$f-family,$l-height){
	font-size: $f-size;
	font-family: $f-family;
	line-height: $l-height;
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 160px;
	padding-bottom: 30px;
	gap: 30px;
	p{
		@include text(16px,"poppins",30px);
		font-weight: 400;
		color: #fff;
	}
	h2{
		@include text(30px, "poppins", 28px);
		font-weight: 700;
		color: #fff;
	}
	h3{
		@include text(20px, "poppins", 30px);
		font-weight: 500;
		color: #fff;
	}
}
.footer-items{
	max-width: 1400px;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 150px;
	.footer-item1{
		width: 300px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		input{
			width: 100%;
			height: 50px;
			border: none;
			outline: none;
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}
	.footer-item{
		width: 165px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		.footer-logo{
			display: flex;
			align-items: center;
			gap: 16px;
			img{
				width: 50px;
				height: 50px;
			}
		}
		.footer-icon{
			display: flex;
			align-items: center;
			gap: 30px;
			span{
				font-size: 40px;
				color: #EDFFFC;
			}
		}
	}
}
@media (max-width: 540px) {
	footer{
		p{
			text-align: center;
		}
		.footer-items{
			display: flex;
			gap: 50px;
			.footer-item{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}